<%- include("../partials/head") %>
<%- include("../partials/header") %>

<h1><%= title %></h1>

<form action="/categories" method="POST" style="margin-top:20px;">

  <label>Nom de la catégorie :</label><br>
  <input type="text" name="name_category" required><br><br>

  <button type="submit">Créer</button>
</form>

<%- include("../partials/footer") %>
