<%- include("../partials/head") %>
<%- include("../partials/header") %>

<h1>Ajouter un job</h1>

<form action="/jobs" method="POST">

  <p>
    <label>Titre :</label><br>
    <input type="text" name="titre" required>
  </p>

  <p>
    <label>Lieu :</label><br>
    <input type="text" name="location" required>
  </p>

  <p>
    <label>Type d'emploi :</label><br>
    <select name="employment_type" required>
      <option value="">-- Choisir --</option>
      <option value="full-time">Temps plein</option>
      <option value="part-time">Temps partiel</option>
      <option value="contract">Contractuel</option>
    </select>
  </p>

  <p>
    <label>Description :</label><br>
    <textarea name="description" required></textarea>
  </p>

  <p>
    <label>Job actif ?</label><br>
    <select name="is_active" required>
      <option value="">-- Choisir --</option>
      <option value="true">Actif</option>
      <option value="false">Inactif</option>
    </select>
  </p>

  <p>
    <label>Date de publication :</label><br>
    <input type="date" name="posted_at" required>
  </p>

  <p>
    <label>ID de la compagnie :</label><br>
    <input type="number" name="id_company" required>
  </p>

  <p>
    <button type="submit">Créer le job</button>
  </p>

</form>

<%- include("../partials/footer") %>
