<header>
    <nav>
        <div>
            <strong style="font-size: 20px;">IGS JobBoard</strong>
        </div>

        <div>
            <a href="/users/list">Users</a>
            <a href="/applications/list">Applications</a>
            <a href="/jobs/job-list">Jobs</a>
            <a href="/categories/list">Catégories</a>


            
        </div>
    </nav>
</header>

<div class="container">
