<header>
    <nav>
        <div>
            <strong style="font-size: 20px;">IGS JobBoard</strong>
        </div>

        <div>
            <a href="/jobs/job-list">Jobs</a>
            <a href="/categories/category-list">Catégories</a>
            <a 
        </div>
    </nav>
</header>

<div class="container">
